// Colors
$primary-bg: #3b4263;
$secondary-bg: #54565e;
$text-color: #ffffff;
$accent-color: #5d7fec;
$button-color: #f39c12;
$button-hover: rgba(243, 156, 18, 0.1);

// Fonts
$primary-font: 'Aller Display', Arial, sans-serif;


// Box Shadows
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
