---
import Layout from '../layouts/Layout.astro';
import GameBoard from '../components/GameBoard.astro';
import GameOver from '../components/GameOver.astro';
import '../styles/main.scss';
import WordDisplay from '../components/WordDisplay.astro';
---

<Layout title="Hangman Game">
	<div class="game-container">
		<div id="game-board">
			<GameBoard />
			<WordDisplay />
		</div>
		<div id="game-over" class="hidden">
			<GameOver />
		</div>
		<div class="bg-shape"></div>
	</div>
</Layout>
