---

---

<div class="hangman">
	<div class="hangman-container">
		<img src="/imgs/bar.png" alt="Hangman Bar" class="hangman-bar" />
		<img src="/imgs/head.png" alt="Head" class="hangman-part head hidden" />
		<img src="/imgs/neck.png" alt="Neck" class="hangman-part neck hidden" />
		<img src="/imgs/corpus.png" alt="Body" class="hangman-part corpus hidden" />
		<img src="/imgs/right-arm.png" alt="Right Arm" class="hangman-part right-arm hidden" />
		<img src="/imgs/left-arm.png" alt="Left Arm" class="hangman-part left-arm hidden" />
		<img src="/imgs/right-hand.png" alt="Right Hand" class="hangman-part right-hand hidden" />
		<img src="/imgs/left-hand.png" alt="Left Hand" class="hangman-part left-hand hidden" />
		<img src="/imgs/right-leg.png" alt="Right Leg" class="hangman-part right-leg hidden" />
		<img src="/imgs/left-leg.png" alt="Left Leg" class="hangman-part left-leg hidden" />
		<img src="/imgs/right-foot.png" alt="Right Foot" class="hangman-part right-foot hidden" />
		<img src="/imgs/left-foot.png" alt="Left Foot" class="hangman-part left-foot hidden" />
	</div>
</div>
